<h4>Add New Word</h4>
<form class="" action="/" method="post">
  <div class="form-group">
    <label for="name">Word:</label>
    <input class="form-control" type="text" name="name">
    <button class="btn" type="submit" name="button">Enter</button>
  </div>
</form>
